* {
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

#buttons {
    width: 300px;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 800px;
}

#input {
    width:80%;
    height: 200px;
    margin-bottom: 30px;
    background-color: red;
}

.button {
    background-color: aliceblue;
    border: none;
    width: 72px;
    height: 60px;
    border: 1px grey solid;
}

#C, #Del {
    width: 148px;
}